

# required token to make the app works
config.js

# external libraries
# External NODE libraries
node_modules/*
node_modules/
# External PYTHON libraries
venv/
.venv/
other/
venv2/

# Computer dependencies
*.pyc
.DS_Store
__pycache__/
.vscode/
ingest_venv/
**/.DS_Store

# db
migrations/

# Tempo
Tempo/
