

# required token to make the app works
.env

# external libraries
# External NODE libraries
node_modules/
package-lock.json

# External PYTHON libraries
.venv/

# Computer dependencies
*.pyc
.DS_Store
__pycache__/
.vscode/
ingest_venv/
**/.DS_Store

# db

# capacitor
dist/
ios/
