
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    z-index: 999; /* Ensure it is on top of the map */
  }
  